.btnleft{
  margin-right: 10px;
}

.btn-delete{
  margin-right: 12px;
}

.btn-info{
  background: #507dde;
  border-color: white;
}

h2 {
  margin-top: 10px;
  font-weight: bold;
}
span {
color: grey;
font-size: medium;
font-weight: bold;
font-style: italic;
}

.nbLike {
  margin-bottom: 10px;
}
